.product {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:#3a8cff;
    color: black;
    text-align: center; 
  }

.product h3 {
    margin: 5px 0 10px; 
    color: black;
    font-size: 25px;
  }

.product p {
    margin: 10px 0;
  }

.product .name {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.product .description {
    font-size: 15px;
    color: rgb(183, 228, 255);
}

.product .price {
    font-size: 25px;
    font-weight: 700;
    color: white;
}